<h2>Login</h2>
<hr>
<form action="/api/sessions/login" method="post">
    <div id="mensaje"></div>

    <label for="email">Correo electr칩nico:</label>
    <input type="email" name="email" id="email" placeholder="Correo electr칩nico" required>

    <label for="password">Contrase침a:</label>
    <input type="password" name="password" id="password" placeholder="Contrase침a" required>

    <input type="submit" value="Ingresar" id="btnLogin">
</form>

{{>menu}}

<script src="/js/login.js"></script>
