<h2>Registro</h2>
<hr>
<form action="/api/sessions/registro" method="post">
    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
    <input type="text" name="apellido" id="apellido" placeholder="Apellido">
    <input type="email" name="email" id="email" placeholder="Correo electrónico">
    <input type="password" name="password" id="password" placeholder="Contraseña">

    <input type="submit" value="Registrar">

</form>


{{>menu}}